<p>
	This web application is the result of a Case Study Project based on the work: ​<b>Ekaterina Bastrakova, Rodney Ledesma, & Jose Millan. (2016). Author Disambiguation. University Lumiere Lyon 2*</b> which can be found <a href="https://github.com/DMKM1517/author_disambiguation/blob/master/Documents/AuthorDisambiguation_Bastrakova-Ledesma_Millan.pdf" target="_blank">here</a>.
</p>
<p>
	For more information please refer to our GitHub <a href="https://github.com/DMKM1517/author_disambiguation" target="_blank">repository</a> or contact us to <a href="mailto:dmkm.author.disambiguation@gmail.com" target="_blank">dmkm.author.disambiguation@gmail.com</a>
</p>
<a href="/#/" class="btn btn-default">Go back</a>