<div class="col-sm-6">
	<form class="cont-form">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" placeholder="Title" ng-model="article.title" required>
		</div>
		<div class="form-group">
			<label for="author_lastname">Authors</label>
			<div class="inline">
				<div class="col-xs-4">
					<input type="text" class="form-control" id="author_lastname" placeholder="Last name" ng-model="lastname">
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" placeholder="First name" ng-model="firstname">
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" placeholder="Middle name" ng-model="middlename">
				</div>
				<div class="col-xs-2">
					<button class="btn btn-default" ng-click="addAuthor($event)">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
				</div>
			</div>
			<div class="cont-authors">
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="(key, author) in article.authors">
							<td>{{author.last_name}}</td>
							<td>{{author.first_name}}</td>
							<td>{{author.middle_name}}</td>
							<td>
								<div class="remove" ng-click="removeAuthor(key)"><i class="glyphicon glyphicon-remove"></i></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<label for="keywords">Keywords</label>
			<selectize placeholder="Keywords" config="config_selectize" options="options_selectize" ng-model="article.keywords" required="true"></selectize>
		</div>
		<div class="form-group">
			<label for="subject">Subjects</label>
			<selectize placeholder="Subjects" config="config_selectize2" options="options_selectize2" ng-model="article.subjects" required="true"></selectize>
		</div>
		<div class="form-group">
			<label for="journal">Journal</label>
			<input type="text" class="form-control" id="journal" ng-model="article.journal" placeholder="Journal" />
		</div>
		<div class="form-group">
			<label for="doi">DOI</label>
			<input type="text" id="doi" class="form-control" ng-model="article.doi" placeholder="DOI" />
		</div>
		<div class="form-group">
			<label for="year">Year</label>
			<input type="number" min="1900" max="2100" id="year" class="form-control" ng-model="article.year" placeholder="2016" />
		</div>
		<div class="form-group">
			<label for="title_reference">References</label>
			<div class="inline">
				<div class="col-xs-5">
					<input type="text" class="form-control" id="title_reference" placeholder="Title of reference" ng-model="title_reference">
				</div>
				<div class="col-xs-5">
					<input type="text" class="form-control" placeholder="Journal of reference" ng-model="journal_reference">
				</div>
				<div class="col-xs-2">
					<button class="btn btn-default" ng-click="addReference($event)">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
				</div>
			</div>
			<div class="cont-authors">
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="(key, reference) in article.references">
							<td>{{reference.title}}</td>
							<td>{{reference.journal}}</td>
							<td>
								<div class="remove" ng-click="removeReference(key)"><i class="glyphicon glyphicon-remove"></i></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<button type="submit" id="submit" class="btn btn-success" ng-click="submit($event)">Submit</button>
		<button class="btn btn-default" ng-click="reset($event)">Reset</button>
	</form>
</div>

<div class="col-sm-6">
	<uib-accordion>
		<uib-accordion-group is-open="mendeley_opened">
			<uib-accordion-heading>
				Mendeley <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mendeley_opened, 'glyphicon-chevron-right': !mendeley_opened}"></i>
			</uib-accordion-heading>
			<a href="/login" ng-if="!logged_in"><img src="img/mendeley.png" width="25"> Login with Mendeley</a>
			<div ng-if="logged_in">
				<h2 ng-bind="name"></h2>
				<!--<form>
			<div class="form-group">
				<label for="file">File</label>
				<input type="file" id="file" custom-on-change="loadFile">
				<p class="help-block">Upload a PDF file</p>
			</div>
		</form>-->
				<label>Select an article</label>
				<div class="cont-table-mendeley">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, doc) in documents">
								<td id="d{{key}}" class="document" ng-click="selectDocument(key)">{{doc.title}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</uib-accordion-group>
		<uib-accordion-group is-open="results_opened">
			<uib-accordion-heading>
				Results <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': results_opened, 'glyphicon-chevron-right': !results_opened}"></i>
			</uib-accordion-heading>
			<div ng-show="processing">
				<label>The authors of the article are being disambiguated. This process might take a couple minutes.</label>
				<button class="btn btn-danger pull-right" ng-click="cancel()">Cancel</button>
				<br>
				<br>
				<br>
				<uib-progressbar class="progress-striped active" value="progress" type="info"></uib-progressbar>
			</div>
			<div class="cont-table-results" ng-show="!processing">
				<table class="table table-striped results" ng-repeat="(key, author) in processing_authors">
					<thead>
						<tr>
							<th>{{author.last_name}} {{author.first_name}} {{author.middle_name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Article</th>
							<th>DOI</th>
							<th>Related Author</th>
							<th>Feedback</th>
						</tr>
						<tr ng-repeat="result in results[key]">
							<td>{{result.title}}</td>
							<td>{{result.doi}}</td>
							<td>{{result.author}}</td>
							<td>
								<div class="btn-group" role="group" aria-label="correct_incorrect">
									<button type="button" ng-click="feedback($event, 1)" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
									<button type="button" ng-click="feedback($event, -1)" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
								</div>
								</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</uib-accordion-group>
	</uib-accordion>
</div>
