.cont-table-mendeley {
	max-height: 54vh;
	overflow: auto;
}

.cont-table-results {
	max-height: 66vh;
	overflow: auto;
}

.cont-authors {
	max-height: 27vh;
	overflow: auto;
	clear: both;
}

.cont-form {
	max-height: 85vh;
	overflow: auto;
}

.document {
	cursor: pointer;
}

.remove {
	cursor: pointer;
}

.inline .col-xs-2 {
	padding: 0 5px;
}

.inline .col-xs-3 {
	padding: 0 5px;
}

.inline .col-xs-4 {
	padding: 0 5px;
}

.inline .col-xs-5 {
	padding: 0 5px;
}

.results tbody, .results thead {
	display: block;
}
.results tbody {
	overflow: auto;
	height: 200px;
}

#logs {
	height: 100px;
}

.title {
	padding-left: 15px;
}