.cont-table {
	max-height: 75vh;
	overflow: auto;
}

.cont-authors {
	max-height: 27vh;
	overflow: auto;
	clear: both;
}

.document {
	cursor: pointer;
}

.remove {
	cursor: pointer;
}

.inline .col-xs-2 {
	padding: 0 5px;
}

.inline .col-xs-3 {
	padding: 0 5px;
}

.inline .col-xs-4 {
	padding: 0 5px;
}

.inline .col-xs-5 {
	padding: 0 5px;
}

.results {
	padding: 0 0 0 11px;
}

#logs {
	height: 100px;
}

.title {
	padding-left: 15px;
}